.categorypage {
	.topbar {
		background-color: lightblue;

		.categories {
			a {
				color: #141a28;
			}
		}

		.search {
			display: flex;
			align-items: center;

			a {
				color: #141a28;
			}

			.signin-button {
				display: inline-block;
				background-color: #53aa51;
				color: white;
			}
		}
	}
}
